Package: com.harrywantstodev.bettermessages
Name: BetterMessages
Depends: mobilesubstrate, ws.hbang.common, org.thebigboss.libcolorpicker
Version: 1.0.1
Architecture: iphoneos-arm
Description: Change and add a range of features to the iOS 10 Messages App
Maintainer: harrywantstodev
Author: harrywantstodev
Section: Tweaks
