<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
      <array>
        <dict>
          <key>cell</key>             <string>PSSwitchCell</string>
          <key>default</key>          <true/>
          <key>defaults</key>         <string>com.harrywantstodev.bettermessages</string>
          <key>key</key>              <string>EmojiHeader</string>
          <key>label</key>            <string>Remove Emoji Header</string>
          <key>PostNotification</key> <string>com.harrywantstodev.bettermessages/settingschanged</string>
      </dict>
      <dict>
        <key>cell</key>             <string>PSSwitchCell</string>
        <key>default</key>          <true/>
        <key>defaults</key>         <string>com.harrywantstodev.bettermessages</string>
        <key>key</key>              <string>EmojiSpacing</string>
        <key>label</key>            <string>6 Rows Of Emojis</string>
        <key>PostNotification</key> <string>com.harrywantstodev.bettermessages/settingschanged</string>
    </dict>
        <dict>
          <key>cell</key>
          <string>PSGroupCell</string>
          <key>label</key>
          <string> </string>
        </dict>
        <dict>
          <key>cell</key>             <string>PSSwitchCell</string>
          <key>default</key>          <true/>
          <key>defaults</key>         <string>com.harrywantstodev.bettermessages</string>
          <key>key</key>              <string>AutoRotate</string>
          <key>label</key>            <string>Disable Auto Rotation</string>
          <key>PostNotification</key> <string>com.harrywantstodev.bettermessages/settingschanged</string>
      </dict>
      <!-- <dict>
          <key>cell</key>             <string>PSSwitchCell</string>
          <key>default</key>          <true/>
          <key>defaults</key>         <string>com.harrywantstodev.bettermessages</string>
          <key>key</key>              <string>TransBack</string>
          <key>label</key>            <string>See Through Navigation Bar</string>
          <key>PostNotification</key> <string>com.harrywantstodev.bettermessages/settingschanged</string>
      </dict> -->
      <dict>
          <key>cell</key>             <string>PSSwitchCell</string>
          <key>default</key>          <true/>
          <key>defaults</key>         <string>com.harrywantstodev.bettermessages</string>
          <key>key</key>              <string>SendEffect</string>
          <key>label</key>            <string>Disable Long Press Send Effects</string>
          <key>PostNotification</key> <string>com.harrywantstodev.bettermessages/settingschanged</string>
      </dict>
      <dict>
          <key>cell</key>             <string>PSSwitchCell</string>
          <key>default</key>          <true/>
          <key>defaults</key>         <string>com.harrywantstodev.bettermessages</string>
          <key>key</key>              <string>OpenTo</string>
          <key>label</key>            <string>Open To Conversation List</string>
          <key>PostNotification</key> <string>com.harrywantstodev.bettermessages/settingschanged</string>
      </dict>
    </array>
    <key>title</key>
    <string>Misc</string>
</dict>
</plist>
